body {
    background-color: #67331e;
}

h1 {
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 100%;
    height: auto;
}
